<?xml version="1.0"?>
<!--/**-->
<!-- * Module base of Eloab package-->
<!-- * @package Eloab_Base-->
<!-- * @author Bao Le-->
<!-- * @date 2022-->
<!-- */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Eloab_Base"/>
</config>
